body {
    background-color: black;
}

.wrapper {
    background-color: #3549AC;
}

.header,
.footer {
    background-color: #FF8959;
}

.sidebar {
    background-color: #FCD47C;
}

.sidebar2 {
    background-color: #2B83C2;
}

.content {
    background-color: white;
    color: black;
}


